@font-face {
    font-family: norse-bold;
    src:
        url("fonts/Norse-Bold.woff2") format("woff2"),
        url("fonts/Norse-Bold.woff") format("woff");
    font-weight: bold;
    font-style: bold;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

#main-container {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
}

#logo-section {
    background-image: url(/images/ryunosuke-kikuno-U23rKRn2PEY-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 33vw;
}

#logo-banner {
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 25%;
}

#logo-banner img {
    max-height: 15vh;
    margin-top: 7px;
    margin-bottom: 7px;

}

#logo-text {
    font-family: "norse-bold", serif;
    color: white;
    font-size: 5em;
    padding: 0;
    margin: 0;
}

#logo-footer {
    position: absolute;
    bottom: 0;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 33vw;
}

#logo-footer a:link,
#logo-footer a:visited {
    color: rgba(255, 255, 255, 0.6);
}

#form-section {
    font-family: Helvetica, sans-serif;
    width: 100%;
}

#form-header {
    min-height: 33vh;
    padding-left: 2rem;
    padding-right:10rem;
    padding-bottom: 20px;
}

#fancy {
    font-style: italic;
}

#form-header p {
    position: relative;
    top: 20vh;
    font-size: 1.5rem;
    font-weight: bold;
    width: 700px;
}

#text-fields {
    background-color: white;
    border: none;
    min-height: 25vh;
    padding: 0;
    box-shadow: 1px 2px 5px 2px lightgray
}

#text-fields p {
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 2rem;
}

#input-container {
    padding-left: 2rem;
    display: flex;
    gap: 75px;
}

.columns label {
    margin-top: 20px;
}

input, label {
    display: block;
}

label {
    font-size: .8rem;
}

input {
    padding: 5px;
    border: 1px solid rgba(109, 109, 109, 0.3);
    border-radius: 3px;
}

:focus {
    outline: none;
    border: 1px solid (220, 100%, 50%, 80%);
    box-shadow: 0 0 0 1px hsla(220, 100%, 50%, 80%), 3px 3px 3px 1px rgba(0, 0, 0, 0.2);
}

input:focus:invalid {
    outline: none;
    box-shadow: 0 0 0 1px hsl(0, 100%, 50%);
}

input:invalid {
    outline: none;
    box-shadow: 0 0 0 1px hsl(0, 100%, 50%);
}

#form-button {
    padding-left: 2rem;
    padding-top: 20px ;
    padding-bottom: 20px;
    border: none;
}

button {
    font-weight: bold;
    color: white;
    background-color: rgb(94, 128, 167);
    border: none;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

#form-footer {
    padding-left: 2rem;

}

#form-footer a {
    text-decoration: none;
    font-weight: bold;
}

#form-footer a:link,
#form-footer a:visited {
    color: rgb(94, 128, 167);
}