@font-face {
    font-family: norse-bold;
    src:
        url("fonts/Norse-Bold.woff2") format("woff2"),
        url("fonts/Norse-Bold.woff") format("woff");
    font-weight: bold;
    font-style: bold;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

#main-container {
    display: flex;
    min-height: 100vh;
}

#logo-section {
    background-image: url(/images/ryunosuke-kikuno-U23rKRn2PEY-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 33vw;
}

#logo-banner {
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 25%;
}

#logo-banner img {
    max-height: 15vh;
    margin-top: 7px;
    margin-bottom: 7px;

}

#logo-text {
    font-family: "norse-bold", serif;
    color: white;
    font-size: 5em;
    padding: 0;
    margin: 0;
}

#logo-footer {
    position: absolute;
    bottom: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 33vw;
}

#logo-footer a:link {
    color: white;
}

#logo-footer a:visited {
    color: white;
}